[Unit]
Description=BlindControlService
After=network.target

#log with journalctl -u blindControl.service
[Service]
EnvironmentFile=/home/pi/creds/pienv.txt
ExecStart=/usr/bin/node /home/pi/3dprints/myhome/blindArdControl/plantationshutterautomation/homeserver/index.js 
WorkingDirectory=/home/pi/3dprints/myhome/blindArdControl/plantationshutterautomation/homeserver
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Group=netdev

[Install]
WantedBy=multi-user.target